html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /*
   * CSS image reference example.
   */
  /* background-image: url('./images/bg-pattern.png'); */
  /* padding: 10px; */
  /* background-color: rgb(140, 148, 155); */
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
  list-style: none;
  justify-content: space-evenly;
  padding: 0;
  margin: auto;
}
.stats {
  display: flex;
  justify-content: space-evenly;
}
li {
  width: 25%;
  padding: 2px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.photo-card {
  position: relative;
}
.stats {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(99, 99, 102, 0.3);
}

.stats:hover {
  background-color: rgba(65, 65, 112, 0.5);
}

.material-icons,
.stats-item {
  color: rgba(28, 28, 30, 0.8);
}

.material-icons:hover,
.stats-item:hover {
  color: rgb(20, 189, 219);
  cursor: pointer;
}

/* .box {
  width: auto;
  max-height: 90vh;
  margin: auto;
} */
input {
  display: block;
  margin: 20px auto 20px;
  width: 210px;
  line-height: 34px;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  border-radius: 5px;
  outline: none;
}
input::placeholder {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #bbbbbb;
}
button {
  display: block;
  margin: 20px auto 20px;
  width: 210px;
  line-height: 44px;
  border: none;
  border-radius: 5px;
  background-color: rgba(99, 99, 102, 0.8);
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  outline: none;
}
/* body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro {
  text-align: center;
}

.intro h1 {
  margin-top: 0;
  font-weight: 500;
  font-size: 40px;
}

.intro img {
  display: block;
  max-width: 100%;
  height: auto;
} */
